// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@use "@angular/material" as mat;

.nav-item-active {
  background-color: rgba(59, 130, 246, 0.1);
  border-left: 4px solid #3b82f6;
  color: #1e40af;
  font-weight: 500;
}
.nav-item-active .material-icons {
  color: #2563eb;
}

.snack-error {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: red,
      supporting-text-color: white,
    )
  );
}

.snack-success {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: green,
      supporting-text-color: white,
    )
  );
}